:root {
    --primary-color: #055a05; 
    --secondary-color: #433549; 
    --accent1-color: #1a4758; 
    --accent2-color: #4a769e; 
    --heading-color: "Times New Roman", georgia, serif; 
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2b2b2b;
    font-family: var(--body-font);
    line-height: 1.5;
    padding: 20px 0;
    background-color: #ffffff;
    margin: auto;
    padding: 0px;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    margin-left: 200px;
}

h1, h2 {
    font-family: var(--heading-color);
    color: var(--primary-color);
    
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}


header img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
}

.hero {
    position: relative;
    width: 100%;
}

.hero image {
    display: block;
    width: 100px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    box-sizing: border-box;
    margin: 0;
}

.hero article {
    position: absolute;
    bottom: 25px;
    left: 4%;
    right: 4%;
    background-color: var(--accent2-color);
    color: #ffffff;
    padding: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero article img {
    float: right;
    width: 110px;
    height: auto;
    border: 1px solid var(--secondary-color);
}

.logo {
    max-width: 150px;
    height: auto;
    display: block;
    margin-bottom: 15px;
}


nav ul li {
    margin-bottom: 4px;
}



footer p {
    color: #555555;
    margin-bottom: 10px;
    border-top: 1px solid #dddddd;
}